%tipodeletra {
    font-family: Georgia, "Times New Roman", Times, serif;
}
%backgcartas {
    background-color: #f9d29d;
  background-image: linear-gradient(315deg, #f9d29d 0%, #ffd8cb 74%);
}
%backgroundpage {
    background-color: blanchedalmond
}
%backgroundbtn-primary {
    background-color: #d6af7e;
    border-color: #d6af7e;
}



.menu ul li {
    @extend %tipodeletra;
    display: inline-block;
    list-style: none;
}

.conte .pastademani {
    @extend %backgcartas;
}
.conte .listaproductos {
    @extend %backgcartas;
}
.conte .mix {
    @extend %backgcartas;
}
.gridfooter {
    @extend %backgroundpage;
}
.maincaja {
    @extend %backgroundpage;
}
.menu ul {
    @extend %backgroundpage;
}
.btn-primary:hover {
    @extend %backgroundbtn-primary;
    color:#6a7ccb;
    
}
.btn-primary:focus{
    @extend %backgroundbtn-primary;
    color: #f4f6ff;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.5);
}