@media all and (max-width: 920px) {
    .maincaja {
      width: 100%;
    }
  }
  @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @media all and (max-width: 920px) {
    .gridElegiTusProductos{
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 400px 200px 200px 400px;
      margin-bottom: 200px;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  
  }