 .menu {
        width: 100%;
        ul li :hover {
            background-color: white;

        }
        ul li a {
            display: inline-block;
            padding: 12px 26px;
          }
          
          a {
            text-decoration: none;
            color: black;
          }
    
    }





      

  
  
